* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Linear+A&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
.main {
    width: 99vw;
    padding: 0 0 300px 0;
}
.menu {
    /* background-color: #DB4444; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-bottom: 1px rgb(204, 204, 204) solid;
    /* margin-bottom: 40px; */
}
.menu div:first-child {
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* background-color: red; */
    width: 40%;
}
.menu a {
    transition: 0.5s;
    padding: 5px;
}
.menu a:hover {
    transform: scaleX(1.1);
    transition: 0.5s;
    border-bottom: 1px solid;
}
.discountRed {
    background-color: #DB4444;
    text-align: center;
    color: white;
    padding: 13px;
}
.discountRed a {
    color: white;
}
.section2 {
    width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* background-color: red; */
}
.section2 input{
    padding: 5px;
    border: none;
    width: 200px;
    outline: none;
    background-color: rgb(252, 240, 240);
}
.section2 button {
    background-color: #DB4444;
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;

}
.section2 i {
    font-size: 20px;
    transition: 0.3s;
}
.section2 i:hover {
    transform: scale(1.3);
    transition: 0.3s;
}
.section2 button {
    transition: 0.3s;
}
.section2 button:hover {
    transform:scale(1.1);
    transition: 0.3s;
}
.flex {
    display: flex;
}
.menu a {
    text-decoration: none;
    color: black;
    /* padding: 10px; */

}
.menu div a:first-child {
    font-size: 30px;
    font-weight: 700;
}



.cart {
    padding: 40px 165px;
    position: relative;
}
table {
    width: 100%;
    /* background-color: red; */
    text-align: left;
    margin: 10px;
    padding: 10px;
    /* border: solid 1px; */

    
}

table thead tr th:first-child {
    width: 50%;
    
}
.totalCart {
    position: absolute;
    border: solid 1px;
    padding: 10px 20px;
    width: 350px;
    position: fixed;
    top: 450px;
    right: 30px;
    background-color: white;

}
.totalCart h2 {
    margin: 10px 0;
}
.totalCart p {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.totalCart button {
    display: block;
    padding: 10px 25px;
    margin: 15px auto;
    border: none;
    background-color: #DB4444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.img {
    width: 130px;
    height: 70px;
}
table tbody {
    width: 100%;

}
table tbody tr {
    width: 100%;
   
}
table tbody tr td{
    padding: 20px 0;
    text-align: left;
    /* background-color: red; */
}
.bt2 {
    background-color: #DB4444;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.footer img{
    width: 99vw;
    height: 350px;
}